## Static configuration
experimental:
  plugins:
    real-ip:
      moduleName: github.com/Paxxs/traefik-get-real-ip
      version: v1.0.2
providers:
  file:
    directory: /FileProvider
    watch: true
  docker:
    watch: true
    exposedByDefault: false
    defaultRule: "Host(`{{ index .Labels \"com.docker.compose.service\"}}{{ env \"SECRET_SUFFIX\" }}.{{ env \"SECRET_DOMAIN\" }}`)"
log:
  level: INFO # DEBUG, PANIC, FATA, ERROR, WARN, INFO
api:
  insecure: false
  dashboard: true
  debug: false
entryPoints:
  #web:
  #  address: "ingress:80"
  websecure:
    address: "ingress:443"
  cloudflare:
    address: "ingress-cloudflare:443"
    forwardedHeaders:
      #insecure: true
      trustedIPs: []
    http:
      middlewares:
        - cloudflare-real-ip@file
certificatesResolvers:
  staging:
    acme:
      storage: "/letsencrypt/staging-acme.json"
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: "10" # test
        resolvers:
          - "1.1.1.1:53"
  production:
    acme:
      storage: "/letsencrypt/production-acme.json"
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: "10"
        resolvers:
          - "1.1.1.1:53"
